<template name="lobby">
{{#if any_table_selected}}
{{else}}

  <h1>
    Lobby
  </h1>

  <!--
  <button class="btn btn-info">
    Create a new table
  </button>
  -->
  <div class="tables">
    <ul class="thumbnails">
      {{#each tables}}
      <li class="span2" data-table-id="{{_id}}">
        <div class="thumbnail">
          <img src="/img/card-hand.svg" alt="poker player holding cards">

          <div class="caption">
            <h3>{{name}}</h3>
          </div>
        </div>
      </li>
      {{/each}}
    </ul>
  </div>

  <hr />

{{/if}}
</template>
