<template name="player">
{{#if name}}

<img src="/img/player-with-cards.svg" alt="poker player holding cards">
<h3>{{name}}</h3>

<div class="player-cards row-fluid">
  {{#each hand}}
  <div class="span6">
    {{#if can_see_cards ../playerId}}
    <span class="card {{suit}} value-{{value}}"></span>
    {{else}}
    <span class="card card-back"></span>
    {{/if}}

  </div>
  {{/each}}
  {{#if score}}
  <p>{{score.name}} <em>{{score.value}}</em></p>
  {{/if}}
</div>

{{else}}

<img src="/img/question.svg" alt="poker player holding cards">
<div class="caption">
  <button class="btn btn-block btn-warning">Join</button>
</div>

{{/if}}
</template>
