<template name="player">
<li class="span2">
  <div class="thumbnail">
    {{#if name}}
    <img src="/img/player-with-cards.svg" alt="poker player holding cards">
    <div class="caption">
      <h3>{{name}}</h3>

      {{#each hand}}
      {{#if hand_complete}}
      {{> card}}
      {{else}}
      <span class="card card-back"></span>
      {{/if}}
      {{/each}}

      <br class="clearfix" />
    </div>
    {{else}}
    <img src="/img/question.svg" alt="poker player holding cards">
    <div class="caption">
      <button class="btn btn-block btn-warning">Join</button>
    </div>
    {{/if}}
  </div>
</li>
</template>
