<template name="table">
{{#if any_table_selected}}

<h2>
  {{table.name}}
  <!-- <button class="btn btn-success">Join</button> -->
  <div class="btn-group">
    <button class="btn deal">Deal</button>
    <button class="btn btn-success score disabled">Score</button>
  </div>
  <button class="btn btn-info new-hand">New hand</button>
</h2>

<hr />

<!-- hand can be displayed here -->
<div class="row-fluid span12 table-cards">
  <p>Active bets: £{{active_bets}} <em>Pot: £{{table.pot}}</em></p>

  {{#each table.cards}}
  <div class="span2">
    <span class="card {{suit}} value-{{value}}"></span>
  </div>
  {{/each}}
</div>

<hr />

<div class="row-fluid span12 players">
  {{#each table.seats}}
  <div class="span2">
    {{> player}}
  </div>
  {{/each}}
  {{#if seat_available}}
  <div class="span2">
    <img src="/img/question.svg" alt="Join this seat">
    <button class="btn btn-block btn-warning join-table">Join</button>
  </div>
</div>

</div>
{{/if}}


{{/if}}
</template>
