<template name="table">
{{#if any_table_selected}}

<h2>
  {{table.name}}
  <!-- <button class="btn btn-success">Join</button> -->
  <button class="btn btn-primary deal">Deal</button>
  <button class="btn btn-info new-hand">New hand</button>
</h2>

<hr />

<!-- hand can be displayed here -->
<div class="row-fluid span12 table-cards">
  {{#each table.flop}}
  <div class="span2">
    <span class="card {{suit}} value-{{value}}"></span>
  </div>
  {{/each}}

  {{#if table.turn.value}}
  <div class="span2">
    <span class="card {{table.turn.suit}} value-{{table.turn.value}}"></span>
  </div>
  {{/if}}

  {{#if table.river.value}}
  <div class="span2">
    <span class="card {{table.river.suit}} value-{{table.river.value}}"></span>
  </div>
  {{/if}}
</div>

<hr />

<div class="row-fluid span12 players">
  {{#each table.seats}}
    <div class="span2">
      {{> player}}
    </div>
  {{/each}}
</div>

{{/if}}
</template>
