<template name="table">
{{#if any_table_selected}}

<h2>
  {{table.name}}
  <!-- <button class="btn btn-success">Join</button> -->
</h2>

<hr />

<button class="btn btn-primary deal">Deal</button>
<button class="btn btn-info new-hand">New hand</button>

<hr />

<!-- list the players here -->
<ul class="players thumbnails">
  {{#each table.seats}}
    {{> player}}
  {{/each}}
</ul>

<!-- hand can be displayed here -->

<div class="table-cards">
  {{#each table.flop}}
    {{> card}}
  {{/each}}

  {{#if table.turn.value}}
  <span class="card {{table.turn.suit}} value-{{table.turn.value}}"></span>
  {{/if}}

  {{#if table.river.value}}
  <span class="card {{table.river.suit}} value-{{table.river.value}}"></span>
  {{/if}}
</div>

{{/if}}
</template>
